.img {
max-width: 100%;
height: auto;
margin: auto;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
  text-align:center;
}


.bd-placeholder-img {
 font-size: 1.125rem;
 text-anchor: middle;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

@media (min-width: 768px) .bd-placeholder-img-lg {
 font-size: 3.5rem;
}
      
.date{
 font-weight:bolder;
}
	  

.container {
  border: 0px solid #c6c4f4;
  border-radius: 4px;
  color: #3632ad;
}

.container h2{
	text-align:center;
}
